server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: Shareef@1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # ================= REDIS =================
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379

  # ================= KAFKA =================
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false

  # ================= GMAIL (SMTP) =================
  mail:
    host: smtp.gmail.com
    port: 587
    username: sk5881998@gmail.com
    password: yztg xbim ggyw qmyj
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

# ================= JWT =================
jwt:
  secret: mysupersecretkeymysupersecretkey
  expiration: 3600000   # 1 hour

# ================= GOOGLE OAUTH =================
google:
  client-id: 572421778240-akk3kkb4f60ukuv9pcfrpg2ielm09thk.apps.googleusercontent.com
